<div id='signup' class='box'>

  <h2>Sign Up</h2>

  <input type='email' name='email' placeholder='Email' autofocus>

  <input type='password' name='password' placeholder='Password'>

  <input type='password' name='password_confirmation' placeholder='Confirm password'>

  <button type='submit'>Sign up</button>

</div>
